USE [master]
GO
/****** Object:  Database [ShopBridgeDB]    Script Date: 13-09-2020 03:34:22 ******/
CREATE DATABASE [ShopBridgeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopBridgeDB', FILENAME = N'D:\ShopBridgeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopBridgeDB_log', FILENAME = N'D:\ShopBridgeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopBridgeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopBridgeDB]
GO
USE [ShopBridgeDB]
GO
/****** Object:  Table [dbo].[TBL_ITEM]    Script Date: 13-09-2020 03:34:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ITEM](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](100) NULL,
	[Description] [nvarchar](300) NULL,
	[Price] [float] NULL,
	[ImageFileName] [varchar](100) NULL,
	[IsDeleted] [bit] NOT NULL,
	[InsertedDatetime] [datetime] NOT NULL,
	[UpdatedDatetime] [datetime] NULL,
 CONSTRAINT [PK_TBL] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_ITEM] ADD  CONSTRAINT [DF_TBL_ITEM_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TBL_ITEM] ADD  CONSTRAINT [DF_TBL_ITEM_InsertedDatetime]  DEFAULT (getdate()) FOR [InsertedDatetime]
GO
/****** Object:  StoredProcedure [dbo].[PROC_ADD_ITEM]    Script Date: 13-09-2020 03:34:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_ADD_ITEM]  
@ItemName nvarchar(100),
@Description nvarchar(300),
@Price float
AS  
SET NOCOUNT ON;  
BEGIN TRY
	BEGIN TRAN Trans  

	 
	 INSERT INTO TBL_ITEM
	 (
		ItemName,Description,Price
	 )  
	 VALUES
	 (
		@ItemName,@Description,@Price
	 );  
  

	COMMIT TRAN Trans
END TRY
BEGIN CATCH
		IF @@TRANCOUNT > 0  
            ROLLBACK TRAN Trans

        DECLARE @ERROR_SEVERITY INT, @ERROR_NO INT, @ERROR_MSG NVARCHAR(4000), @ERROR_STATE INT  
        SET @ERROR_SEVERITY = ERROR_SEVERITY()  
        SET @ERROR_NO = ERROR_NUMBER()  
        SET @ERROR_MSG = ERROR_MESSAGE()  
        SET @ERROR_STATE = ERROR_STATE()  
  		
        -- Not all errors generate an error state, to set to 1 if it's zero  
        IF @ERROR_STATE  = 0  
            SET @ERROR_STATE = 1  

        --RAISERROR (@ERROR_MSG , @ERROR_SEVERITY, @ERROR_STATE, @ERROR_NO)  
		
		;THROW 50000,@ERROR_MSG,1;

END CATCH;




GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_ITEM]    Script Date: 13-09-2020 03:34:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_ITEM]
@ItemID INT
AS
SET NOCOUNT ON;
BEGIN
		SELECT ItemID,ItemName,Description,Price
		FROM TBL_ITEM
		WHERE ItemID = @ItemID;
END;
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_ITEMS]    Script Date: 13-09-2020 03:34:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_ITEMS]
AS
SET NOCOUNT ON;
BEGIN
		SELECT ItemID,ItemName,Description,Price
		FROM TBL_ITEM
		Where IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[PROC_REMOVE_ITEM]    Script Date: 13-09-2020 03:34:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_REMOVE_ITEM]  
@ItemID int
AS  
SET NOCOUNT ON;  
BEGIN TRY
	BEGIN TRAN Trans  


	UPDATE TBL_ITEM 
	SET IsDeleted=1, UpdatedDatetime = GETDATE()
	WHERE ItemID = @ItemID;


	COMMIT TRAN Trans
END TRY
BEGIN CATCH
		IF @@TRANCOUNT > 0  
            ROLLBACK TRAN Trans

        DECLARE @ERROR_SEVERITY INT, @ERROR_NO INT, @ERROR_MSG NVARCHAR(4000), @ERROR_STATE INT  
        SET @ERROR_SEVERITY = ERROR_SEVERITY()  
        SET @ERROR_NO = ERROR_NUMBER()  
        SET @ERROR_MSG = ERROR_MESSAGE()  
        SET @ERROR_STATE = ERROR_STATE()  
  		
        -- Not all errors generate an error state, to set to 1 if it's zero  
        IF @ERROR_STATE  = 0  
            SET @ERROR_STATE = 1  

        --RAISERROR (@ERROR_MSG , @ERROR_SEVERITY, @ERROR_STATE, @ERROR_NO)  
		
		;THROW 50000,@ERROR_MSG,1;

END CATCH;




GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_ITEM]    Script Date: 13-09-2020 03:34:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_UPDATE_ITEM]  
@ItemID int,
@ItemName nvarchar(100),
@Description nvarchar(300),
@Price float
AS  
SET NOCOUNT ON;  
BEGIN TRY
	BEGIN TRAN Trans  


	UPDATE TBL_ITEM 
	SET ItemName=@ItemName,Description=@Description,Price=@Price,
	UpdatedDatetime = GETDATE()
	WHERE ItemID = @ItemID;


	COMMIT TRAN Trans
END TRY
BEGIN CATCH
		IF @@TRANCOUNT > 0  
            ROLLBACK TRAN Trans

        DECLARE @ERROR_SEVERITY INT, @ERROR_NO INT, @ERROR_MSG NVARCHAR(4000), @ERROR_STATE INT  
        SET @ERROR_SEVERITY = ERROR_SEVERITY()  
        SET @ERROR_NO = ERROR_NUMBER()  
        SET @ERROR_MSG = ERROR_MESSAGE()  
        SET @ERROR_STATE = ERROR_STATE()  
  		
        -- Not all errors generate an error state, to set to 1 if it's zero  
        IF @ERROR_STATE  = 0  
            SET @ERROR_STATE = 1  

        --RAISERROR (@ERROR_MSG , @ERROR_SEVERITY, @ERROR_STATE, @ERROR_NO)  
		
		;THROW 50000,@ERROR_MSG,1;

END CATCH;


GO
USE [master]
GO
